* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: system-ui, sans-serif;
}

section {
  margin-top: 5rem;
}
ul {
    padding: 0;
    margin: 0;
}
p {
  color: #606060;
  /* font-family: "Heebo", sans-serif; */
  font-size: 16px;
  font-style: normal;
  line-height: 27px;
  letter-spacing: 1px;
  margin: 0;
}

/* ===nav up css======= */
.nav-up {
  background: #00273d;
  align-items: center;
  display: flex;
}

ul.navbar-contact,
ul.nav-social-list {
  display: flex;
  padding: 10px 0;
  margin: 0;
}

ul.navbar-contact,
ul.nav-social-list li {
  margin: 0 6px;
  list-style: none;
}

ul.nav-social-list {
  justify-content: end;
}

ul.navbar-contact a,
ul.nav-social-list li a {
  color: #fff;
  text-decoration: none;
}

ul.navbar-contact li a i,
ul.nav-social-list li a i {
  font-size: 17px;
  margin-right: 4px;
}

/* ============navbar listed menu=========== */
ul.navbar-nav {
  margin-left: 2rem;
  /* width: 100%; */
}

.navbar-brand img {
  width: 200px;
  /* margin-top: -35px; */
}

nav.navbar.navbar-expand-lg.navbar-light {
  padding: 0;
  position: relative;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center;
  /* padding: 1rem 0; */
  align-items: center;
}

ul.navbar-nav li a {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s ease all;
  color: #ffffff;
  padding: 10px 20px !important;
  border: 2px solid transparent;
}

/* 
.navbar-nav .nav-link.active {
    color: #479c84;
    border: 2px solid #479c84;
} */

.quote-btn a {
  padding: 10px 14px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.2s all ease;
  color: #fff;
  background: #4d9784;
  border: 1px solid;
  display: inline-block;
}

.quote-btn a:hover {
  border: 1px solid #4d9784;
  background: transparent;
  color: #00273d;
}

/* =====why choose us css part========== */
section.why-web {
  text-align: center;
  margin: 0;
  padding: 5rem 0;
  /* padding-bottom: 0; */
}

.span-line {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  display: flex;
  justify-content: center;
}

.span-line span {
  width: 70px;
  background: #4d9784;
  color: #4d9784;
  height: 4px;
  display: block;
  z-index: 1;
  position: relative;
}

.span-line {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  display: flex;
  justify-content: center;
}

.span-line span {
  width: 70px;
  background: #4d9784;
  color: #4d9784;
  height: 4px;
  display: block;
  z-index: 1;
  position: relative;
}

.web-header {
  font-size: 40px;
  letter-spacing: 2px;
  color: #00273d;
  text-align: center;
}
/* 
.why-choose-box {
  padding: 2rem 0;
} */

.choose-d {
  background: #f5f5f5;
  padding: 2rem 1rem;
  display: flex;
  position: relative;
  width: 100%;
  /* box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1); */
  text-align: left;
  border: 1px solid #ffffff;
  transition: 0.3s ease;
  margin: 2rem 0;
}

.choose-icon i {
  font-size: 35px;
  color: #4d9784;
  border-radius: 50%;
  padding: 15px 10px;
  background: #f5f5f5;
}

.choose-details {
  text-align: left;
  padding-left: 1rem;
}

strong {
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #00273d;
}

.choose-learn {
  padding: 10px 0;
}

.choose-learn i {
  color: #4d9784;
}

.choose-d:hover {
  /* background: #4d978454; */
  /* background-image: linear-gradient(#4d978454, #4d978454), url(../img/d-d.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
  /* background: linear-gradient(90deg, #4a9886 0%, #6c757d 100%); */
  border: 1px solid #4d9784;
  transform: translate(0, -2ex);
}

/* .choose-d:hover strong, .choose-d:hover p, .choose-d:hover a i {
    color: #fff;
}

.choose-details .choose-learn a:hover {
    color: #fff;
}

.choose-details .choose-learn a:hover i {
    color: #fff;
}

.choose-d:hover .choose-icon i {
    background: #fff;
} */
/* =======abut css========= */
.about-company-imd::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: -2rem;
  width: 100%;
  height: 100%;
  border: 4px solid;
  color: #4d9784;
  height: 100%;
  z-index: -1;
}

.about-company-details .span-line {
  justify-content: start;
  display: flex;
}

.web-btn a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.2s all ease;
  color: #222;
  /* background: #4d9784; */
  border: 1px solid #4d9784;
  position: relative;
}

.choose-d:hover strong,
.choose-d:hover p {
  color: #222;
}

.web-btn a::before {
  background: hsl(164.59deg 32.46% 44.71%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
  color: #fff;
}

.web-btn a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  color: #fff;
}

.web-btn.test-btn a {
  background: #4d9784;
  color: #fff;
}

.web-btn {
  padding: 2rem 0;
}

.about-company-details strong {
  display: block;
  padding: 0.5rem 0;
}

.web-btn a:hover {
  border: 1px solid #4d9784;
  color: #fff;
}

.abt-img-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-company-details {
  padding-left: 2rem;
}

/* .yr-exp {
    background: #ffffffcf;
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
} */

.about-company-imd {
  position: relative;
  width: 100%;
  height: 100%;
}

.counter-box span {
  font-size: 40px;
  color: #4d9784;
  font-weight: 700;
  padding: 1rem 0;
  display: block;
  letter-spacing: 1px;
}

.counter-box strong {
  color: #00273d;
  font-weight: 600;
  /* margin-left: 8px; */
  /* width: 100px; */
  line-height: 18px;
  letter-spacing: 1px;
}

img.abt-img-2 {
  background: #fff;
  padding: 10px;
  width: 250px;
  height: 300px;
  position: absolute;
  bottom: -3rem;
  right: 0;
  object-fit: cover;
}

.counter-sec {
  margin-top: 6rem;
}

.counter-box {
  text-align: center;
  padding-bottom: 1rem;
}

.counter-box.border-counter {
  border: 2px solid #dee2e6;
  border-top: 0;
  border-bottom: 0;
  padding: 0 1rem;
}

/* ======services css part========== */
.our-serv-box {
  padding: 1rem 0;
}

.serv-box i {
  display: block;
  font-size: 30px;
  color: #4d9784;
  padding: 12px 10px;
  width: 60px;
  background: #fff;
  margin-left: 10px;
  border-radius: 50%;
}

.serv-box.box-dash::after {
  content: "";
  border: 2px dashed #4d9784;
  width: 100%;
  height: 90%;
  position: absolute;
  top: 2.5rem;
  left: 0;
  z-index: -1;
  transition: 0.2s all ease;
  text-align: left;
}

.serv-box {
  position: relative;
  margin-bottom: 3rem;
  width: 90%;
  padding: 15px;
  padding-left: 20px;
}

.choose-learn a i {
  color: #4d9784;
  font-size: 15px;
  display: table-footer-group;
}

.choose-learn a {
  color: #00273d;
  text-decoration: none;
  font-weight: 500;
  margin: 12px 0;
  letter-spacing: 1px;
  transition: 0.2s all ease;
}

.choose-learn a:hover {
  color: #4d9784;
}

.serv-box.box-serv-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  padding-left: 0;
  background: #4d9784;
  padding: 1rem;
}

.serv-box.box-serv-content .serv-topic {
  color: #fff;
}

.serv-box.box-dash:hover::after {
  /* background:aliceblue; */
}

.serv-topic {
  letter-spacing: 1px;
  color: #00273d;
  font-weight: 700;
}
.serv-box.box-dash::after{
  transition: all 0.5s ease;
}

.serv-box.box-dash.serv-box-limit {
  margin-bottom: 1rem;
}

section.main-serv .web-btn {
  text-align: center;
}

section.main-serv {
  padding-bottom: 1.5rem;
}

.serv-box.box-dash:hover::after {
  transform: translate(0, -1ex);
}

/* .serv-box.box-dash:hover strong,
.serv-box.box-dash:hover p,
.serv-box.box-dash:hover a,
.serv-box.box-dash:hover a i {
  color: #fff;
  background: none;
} */

/* =======affordable moving and storage===== */
.storage-list {
  padding: 1rem 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

ul.serv-stro-list {
  padding: 0;
  margin-right: 1.5rem;
}

ul.serv-stro-list li {
  list-style: none;
  padding: 8px 0;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  display: flex;
}

ul.serv-stro-list li i {
  color: #4d9784;
  margin-right: 10px;
  padding-top: 6px;
}

.adf-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.afd-mov-details {
  padding: 15px 0;
}

/* ========testimonial css========= */
.review-wrap {
  background: #4d978454;
  background-image: linear-gradient(#4d978454, #4d978454),
    url(../img/staff-w.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* height: 400px; */
  /* padding: 2rem 0; */
  align-items: center;
  text-align: center;
  display: flex;
}

.web-btn.test-btn a:hover {
  color: #fff;
  border: 1px solid #fff;
}

.owl-theme .owl-dots .owl-dot span {
  background: #fff;
}

section.testimonial-plan {
  margin: 4rem 0;
  text-align: center;
}

section.testimonial-plan h4 {
  width: 100%;
}

.testimonial-box-wrap {
  margin: 2rem 0;
}

.testimonial-boxes {
  position: relative;
  width: 100%;
  padding: 2rem;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
  text-align: left;
  border: 1px solid #ffffff;
  transition: 0.3s ease;
  margin: 2rem 0;
  background: #fff;
}

.testimonial-boxes:hover {
  border: 1px solid #4d9784;
  transform: translate(0, -2ex);
  /* box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1); */
}

.testimonial-left {
  text-align: left;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-id i {
  font-size: 30px;
  color: #fff;
  border: 1px solid;
  padding: 12px;
  border-radius: 50%;
  margin-right: 4px;
  background: #4d9784;
}

.user-id {
  margin: 4px 0;
}

.testimonial-boxes p::before {
  color: rgb(180 203 129 / 35%);
  content: "\f10e";
  font-family: "Font Awesome 5 Free";
  font-size: 6rem;
  font-weight: 700;
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
  /* transform: translateX(-50%); */
  /* background-attachment: fixed; */
}

.web-a-wrap {
  margin-top: 1rem;
  text-align: right !important;
  display: flex;
  justify-content: start;
}

.end-wlcm-wrap {
  padding: 0.5rem 0;
}

/* .item, .owl-dots {
    display: flex;
    justify-content: end;
} */
.web-btn.test-btn {
  padding: 1rem 0;
}

/* ===map html========= */
section.c-map.g-view-contact iframe {
  width: 100%;
}

/* =======footer css ============= */
footer.main-footer {
  background: #00273d;
  padding-top: 3rem;
}

.footer-up {
  padding: 1.5rem 0;
}

.footer-logo img {
  width: 200px;
}

.footer-box p {
  color: #fff;
  padding: 12px 0;
}

ul.imp-link li a,
ul.footer-contact li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  transition: 0.2s all ease;
}

ul.imp-link li,
ul.footer-contact li {
  list-style: none;
  padding: 6px 0;
}

ul.footer-contact li i {
  color: #fff;
}

ul.footer-contact li {
  display: flex;
  padding: 6px 0;
}

.footer-h {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

ul.imp-link,
ul.footer-contact,
ul.footer-social-links {
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

ul.footer-social-links li i {
  color: #fff;
  font-size: 25px;
  margin: 6px;
  transition: 0.2s all ease;
}

ul.footer-social-links {
  display: flex;
  padding-bottom: 12px;
  height: 65px;
}

ul.footer-social-links li {
  list-style: none;
  margin-right: 6px;
}

ul.footer-contact li i {
  font-size: 16px;
  margin-right: 10px;
  padding-top: 5px;
}

ul.footer-contact li p a {
  display: block;
}

ul.footer-contact li strong {
  font-size: 16px;
  letter-spacing: 1px;
}

.footer-newletter input[type="text"] {
  padding: 6px;
  border: none;
  margin-bottom: 10px;
}

.footer-newletter {
  margin-top: 10px;
}

.news-btn input {
  padding: 8px 56px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.2s all ease;
  color: #fff;
  background: #4d9784;
  border: 1px solid #4d9784;
}

.news-btn input:hover {
  background: transparent;
}

ul.imp-link li i {
  margin-right: 10px;
}

ul.imp-link li a:hover,
ul.footer-contact li a:hover {
  color: #4d9784;
}

ul.footer-social-links li i:hover {
  background: #4d9784;
  border-radius: 50%;
  padding: 6px;
}

.footer-down {
  padding: 1rem 0;
  border-top: 1px solid #ffffff91;
}

.footer-down p {
  color: #fff;
}

.footer-down-policy {
  padding: 12px 0;
}

.footer-down-copyr span {
  color: #4d9784;
  font-weight: 700;
}

.footer-down p {
  font-size: 14px;
}

/*** Header ***/
@media (min-width: 992px) {
  .header {
    /* margin-top: -120px; */
  }
}

.header-carousel .owl-nav {
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  border-radius: 40px;
  font-size: 20px;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--dark);
}

@media (max-width: 768px) {
  .header-carousel .owl-nav {
    left: 25px;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #dddddd;
}

.owl-carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

button.owl-prev {
  background: #4a9783;
}

/* .owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: #4a9783;
} */

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel button.owl-dot:hover {
  background: #00273d;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot i {
  color: #fff;
}

.row.g-0.align-items-center.flex-column-reverse.flex-md-row {
  /* background: linear-gradient(0.25turn, #4d9784, #00273d, #ebf8e1);{ */
  font-weight: 700;
  /* color: #4a9783 !important; */
  background: #00273d;
}

span.text-primary {
  font-weight: 700;
  color: #4a9783 !important;
}

strong.display-5.animated.fadeIn.mb-4 {
  color: #fff;
}

p.animated.fadeIn.mb-4.pb-2 {
  color: #fff;
  padding: 1rem 0;
}

span.text-primary {
  color: #4d9784 !important;
  font-weight: 600;
  letter-spacing: 1px;
}

.owl-carousel-item {
  display: flex;
  align-items: center;
  height: 100%;
}

/* Add these styles for the mega menu */
.mega-menu {
  width: 100%;
}

.mega-menu .row {
  display: flex;
}

.mega-menu .col-md-4 {
  width: 33.33%;
  padding: 20px;
}

.mega-menu h5 {
  color: #333;
  font-size: 18px;
  margin-bottom: 15px;
}

.mega-menu a {
  display: block;
  color: black;
  margin-bottom: 10px;
}
/* Override Bootstrap's dropdown-menu styling */
.dropdown-menu.mega-menu {
  min-width: 800px;
  width: 100%;
  left: -22rem;
  right: 0;
  top: 2rem;
  padding: 15px; /* Adjust the padding as needed */
  /* max-width: 500px; */
  /* min-width: 500px; */
  margin-top: 20px;
}

/* Ensure the mega menu columns are displayed properly */
.mega-menu .row {
  display: flex;
  flex-wrap: nowrap;
}

.mega-menu .col-md-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 20px;
}
.mega-menu-a a {
  padding: 10px 0;
  margin: 0;
}
.dropdown-menu.mega-menu.show strong {
  text-align: center;
  display: block;
  padding-top: 10px;
}

.city-name-list a {
  font-size: 13px !important;
  padding: 6px 0;
}
.city-name-list a:hover {
  background: #4a9886;
  color: #fff;
  padding-left: 10px;
}

/* ================================ */
/*** Carousel ***/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0 39 61 / 51%);
  z-index: 1;
}

@media (max-width: 576px) {
  .carousel-caption h5 {
    font-size: 14px;
    font-weight: 500 !important;
  }

  .carousel-caption h1 {
    font-size: 30px;
    font-weight: 600 !important;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

/*** Section Title ***/
.section-title::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  left: 0;
  bottom: 0;
  background: var(--primary);
  border-radius: 2px;
}

.section-title.text-center::before {
  left: 50%;
  margin-left: -75px;
}

.section-title.section-title-sm::before {
  width: 90px;
  height: 3px;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 5px;
  bottom: 0px;
  background: #ffffff;
  -webkit-animation: section-title-run 5s infinite linear;
  animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
  width: 4px;
  height: 3px;
}

.section-title.text-center::after {
  -webkit-animation: section-title-run-center 5s infinite linear;
  animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
  -webkit-animation: section-title-run-sm 5s infinite linear;
  animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
  0% {
    left: 0;
  }
  50% {
    left: 145px;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes section-title-run-center {
  0% {
    left: 50%;
    margin-left: -75px;
  }
  50% {
    left: 50%;
    margin-left: 45px;
  }
  100% {
    left: 50%;
    margin-left: -75px;
  }
}

@-webkit-keyframes section-title-run-sm {
  0% {
    left: 0;
  }
  50% {
    left: 85px;
  }
  100% {
    left: 0;
  }
}
.carousel-item img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}
a.btn.btn-primary.py-md-3.px-md-5.me-3.animated.slideInLeft {
  background: #4b9884;
  border-radius: 0;
  border: 1px solid #4b9884;
}

a.btn.btn-outline-light.py-md-3.px-md-5.animated.slideInRight {
  border-radius: 0;
}
.banner-slider-h {
  font-family: system-ui, sans-serif;
  font-weight: normal;
  font-size: clamp(1.5rem, 0.25rem + 4vw, 3.25rem);
}

.banner-slider-btn {
  padding-top: 1rem;
}

/* ========modal of cartoons and packing materials============ */
.modal-dialog {
  width: 100%;
}

.modal-body img {
  width: 100%;
  object-fit: cover;
}
.btn-modal {
  background: #4b9884;
  border-radius: 0;
  border: 1px solid #4b9884;
  padding: 15px 30px;
  letter-spacing: 1px;
  margin-top: 2rem;
}

.btn-modal:hover {
  background: #4b9884d1;
  border: 1px solid #4b9884d1;
}
.materials-model {
  text-align: center;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background: #4b9884d1 !important;
  border: 1px solid #4b9884d1 !important;
}
.modal-dialog {
  width: 100%;
  min-width: 600px;
}
ul.navbar-contact li {
  margin-right: 20px;
}

ul.navbar-contact li a i {
  font-size: 14px;
}

/* ============================= */
.c-p-materials-img img {
  width: 100%;
}

.p-box-wrap {
  padding-top: 25px;
}

/* =====home quote css starts======== */
.quote-h-content {
  padding: 1rem 0;
}

.quote-h-content ul li span {
  background: #4d9784;
  color: #fff;
  padding: 10px 12px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.quote-h-content ul {
  padding: 0;
  margin: 0;
}

.quote-h-content ul li {
  /* margin-bottom: 30px; */
  list-style: none;
  padding: 8px 0;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.quote-h-form {
  padding-top: 1rem;
  /* height: 400px; */
}

form.estimatehp-form {
  border: 1px solid #4d9784;
  padding: 3rem 1.5rem;
  background: #4d9784;
  /* width: 100%; */
  /* height: 100%; */
  /* margin: 0 3rem; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.formfield {
  position: relative;
  margin-bottom: 14px;
  margin-right: 10px;
  width: 100%;
}

.formfield i {
  color: #4d9784;
  position: absolute;
  top: 15px;
  left: 10px;
}

.formfield input,
.formfield textarea {
  padding: 10px 0;
  padding-left: 30px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
}
button.submit-form {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.2s all ease;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}

.formfield.formfield-submit {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}
section.home-quote {
  padding-bottom: 3rem;
}

.bounce_wrapper {
  visibility: visible;
  animation-duration: 2s;
  animation-delay: 300ms;
  animation-iteration-count: infinite;
  animation-name: pulse;
}

/* ===web banner css===== */
.page-header {
  background: linear-gradient(#21252982, #5f64694f), url(../img/banner-3.jpg);
  height: 500px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  letter-spacing: 4px;
  font-size: 22px;
  font-weight: 600;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
}
ol.breadcrumb.justify-content-center.text-uppercase a {
  color: #00273d;
  text-decoration: none;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 30px;
  line-height: 1.3em;
  letter-spacing: 3px;
  font-family: "Quicksand", sans-serif;
  margin: 0;
}
.web-banner-wrapper {
  padding: 2rem 0;
  background: #ffffff94;
  /* border-radius: 15px; */
  margin: 0 5rem;
  /* backdrop-filter: blur(5px); */
  display: flex;
  justify-content: center;
  align-items: center;
}
strong.typing-text.headlight-h {
  font-family: "Alex Brush", cursive;
  color: #fff;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}
.breadcrumb_wrap {
  display: flex;
  align-items: center;
  background: transparent;
}
/* ============ */
.navbar-nav .nav-link.active {
  border: 2px solid;
  border-radius: 0;
  color: #fff;
}

/* ======about us page css starts============ */
.item.credit-img img {
  width: 160px;
  object-fit: cover;
}

section.credebtials_wrap {
  background: #fdfdfd;
  /* padding: 2rem 0; */
  text-align: center;
}
.owl-carousel.owl-theme.owl-carousel-credential.owl-loaded.owl-drag {
  padding: 1.5rem 0;
}
.abt-us-title strong {
  padding-bottom: 1rem;
  display: block;
}
.serv-d-box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.serv-d-box-img {
  width: 100%;
  height: 100%;
}
.quote-h-form strong {
  color: #fff;
  padding-bottom: 1rem;
  display: block;
}
.abt-us-context {
  display: flex;
}

/* =============services page css strats================ */
.serv-d-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.serv-d-img {
  width: 100%;
  height: 100%;
}

.serv-detail-list {
  padding-top: 3rem;
}

.serv-list-out {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.quote-h-content img {
  width: 400px;
  object-fit: cover;
  padding-top: 1.5rem;
}

/* ===scroll up to btn css ends=== */
#scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #4d9784;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  z-index: 9;
}
#scrollToTopButton:hover {
  background-color: #4d9784d6;
}
/* ===scroll up to btn css ends=== */

.col-md-6.wht-box {
  background: #499884;
}
.nav-link.dropdown-toggle {
  margin: 0;
}

li.nav-item {
  margin: 0 10px;
  padding: 0;
}
.dropdown-item.active,
.dropdown-item:active {
  background: #4b9884;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background: #4b9884;
  color: #fff;
}

a.dropdown-item {
  margin-bottom: 5px;
  color: #00273d !important;
}

.nav-link:focus,
.nav-link:hover {
  color: #fff;
  border: 2px solid;
}
.dropdown-menu .drp-li li a {
  color: #222 !important;
}

.navbar-nav .nav-link.show {
  color: #fff;
}
li.gap-li a {
  margin-right: 20px;
}
ul.navbar-contact li a {
  color: #00273d;
  font-weight: 500;
}

.nav-up-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

ul.navbar-contact li {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

ul.navbar-contact li i {
  border: 2px solid;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
button.navbar-toggler {
  background: #fff;
  border-radius: 0;
}

nav.menu-list-header{
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: #00273d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 20px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 15px;
  line-height: 40px;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  /* border-radius: 0 0 4px 4px; */
  display: none;
  z-index: 2;
  padding: 0;
  margin-bottom: 5px;
  transition: 0.3s ease all;
  border: 1px solid #fff;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid #21252966;
}
.navbar .links li .sub-menu a{
  color: #00273d;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
  color: #00273d;
}
.navbar .links li .htmlCss-more-sub-menu{
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:800px){
  nav{
    /* position: relative; */
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: #4d9784;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}
ul.links li i {
  color: #fff;
  margin-left: 6px;
}
ul.sub-menu li:hover {
  background: #4998847a;
}
.logo-wrapper {
  padding: 1rem 0;
}
.navbar .logo img {
  width: 130px;
}
i.bx.bx-menu {
  font-size: 30px;
}
.grn-text {
  color: #499884;
  font-weight: 500;
}
.lvl-box-wrap {
  padding-top: 2rem;
}
.lvl-box {
  padding-bottom: 1rem;
}

/* ------service menu list------ */
.services-details-menu {
  background: #fff;
  padding: 15px 8px;
  box-shadow: 0 6px 35px rgba(0, 0, 0, 0.07);
  margin: 2rem 0;
  display: grid;
}
.services-details-menu strong {
  font-size: 22px;
  letter-spacing: 2px;
  margin-left: 8px;
}
ul.services-menu-list {
  margin: 0;
  padding: 0;
  text-align: left;
  margin-top: 12px;
}
ul.services-menu-list li {
  list-style: none;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 16px;
  transition: 0.3s ease;
}
ul.services-menu-list a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
  letter-spacing: 1px;
  display: flex;
}
ul.services-menu-list li i {
  margin: 0 10px;
  font-size: 22px;
}
ul.services-menu-list li:hover {
  border-bottom: 1px solid #499884;
}
ul.services-menu-list li.active {
  border-bottom: 1px solid #26559f !important;
}
/* ----service-part-2------ */
.city-tour-img {
  margin-top: 2rem;
}
.service-img-wrap {
  padding: 20px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0 0 0 / 15%);
}
.service-img-wrap h4 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
  font-weight: 700;
}
.service-img-wrap p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.service-img-wrap a {
  color: #26559f;
  border-bottom: 2px solid;
  padding: 2px;
  transition: 0.5s ease;
}
.service-img-wrap a:hover {
  color: #000;
}
/* -------contact menu list box------- */
section.contact-whole-wrap {
  background: #e9e9e9;
}
.contact-info-box {
  display: inline-flex;
  padding: 2px 0;
}
.icon-contact {
  margin-right: 6px;
}
.icon-contact i {
  color: #499884;
  margin: 0 10px;
  padding: 0;
  font-size: 22px;
  padding-top: 4px;
}
.contact-details span {
  font-weight: 600;
}
ul.services-menu-list li i {
  color: #499884;
}
.contact-details a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}
.contact-details a:hover {
  text-decoration: underline;
}
.contact-info-empty {
  padding-bottom: 1rem;
}
.services-heading-2::after {
  content: "";
  border-bottom: 2px solid #499884;
  width: 55%;
  display: block;
}
.serv-side-img img {
  height: 200px;
}
.service-part-4 {
  margin-bottom: 1.5rem;
}
.contact-details {
  padding: 0 5px;
  margin: 0px;
}
.strong-text {
  font-size: 18px;
  margin-top: 1rem;
}

/* =====FAQs css starts================ */
.parent-container {
  padding: 0 20px 0 20px;
  max-width: 800px;
  width: 100%;
}

.faq {
  list-style: none;
  padding-left: 40px;
  padding-right: 20px;
}

.faq li {
  border-bottom: 1px solid #6c757d;
  margin-bottom: 15px;
}

.faq li.active .answer {
  max-height: 275px !important;
  padding-bottom: 25px;
  transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}

.faq li.active .question {
  color: #fff; /* Assuming $fact-question-color-active is defined elsewhere */
  transition: color 0.5s ease;
  background: #499884;
  padding-left: 10px;
}

.faq .answer {
   /* Assuming $paragraph-color is defined elsewhere */
   /* Assuming $font-serif-family is defined elsewhere */
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.5s ease, padding-bottom 0.5s ease;
   color: #00273d;
   /* font-family: "Heebo", sans-serif; */
   font-size: 16px;
   font-style: normal;
   line-height: 27px;
   letter-spacing: 1px;
   margin: 0;
}

.faq .plus-minus-toggle {
  cursor: pointer;
  height: 21px;
  position: absolute;
  width: 21px;
  left: -40px;
  top: 50%;
  z-index: 2;
}

.faq .plus-minus-toggle:before,
.faq .plus-minus-toggle:after {
  background: #00273d;
  content: '';
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 21px;
  transition: transform 500ms ease;
}

.faq .plus-minus-toggle:after {
  transform-origin: center;
}

.faq .plus-minus-toggle.collapsed:after {
  transform: rotate(90deg);
}

.faq .plus-minus-toggle.collapsed:before {
  transform: rotate(180deg);
}

.faq .question {
  color: #499884; /* Assuming $fact-question-color is defined elsewhere */
   /* Assuming $font-sans-family is defined elsewhere */
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  padding: 20px 0;
  transition: color 0.5s ease;
  display: block;

  @media screen and (
  max-width: 768px) {
    font-size: 18px;
  }
;
  letter-spacing: 1px;
}
.faqs-box-wrap {
  /* background: #499884; */
  padding: 1rem;
  margin: 2rem 0;
  box-shadow: 0 6px 35px rgba(0, 0, 0, 0.07);
}
.navbar-mid {
  background: #fff;
}

/* Add styles for the mega menu */
.mega-list {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.mega-menu-container {
  display: flex;
}

.mega-menu-column {
  flex: 1;
  /* padding: 20px; */
}

.mega-menu {
  list-style: none;
  padding: 0;
}

.mega-menu a {
  text-decoration: none;
  color: #333;
  display: block;
  margin-bottom: 8px;
}

/* Display the mega menu on hover */
li:hover .mega-list {
  display: block;
}

/* Optional: Add styling for the arrow icon */
.arrow {
  margin-left: 5px;
}
ul.mega-menu li a {
  padding: 0;
  margin: 0;
}

ul.mega-menu li:hover {
  background: #4998847a;
}
/* .navbar ul.sub-menu li:hover a {
  color: #fff;
} */

/ =====navbar menu listed effects /
.btn-li {
  cursor: pointer;
  position: relative;
  margin: 0px 6px;
  / background: white; /
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;

  &:after,
  &:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
  }

  &:after {
    top: -1px;
    left: -1px;
    border-top: 2px solid #479c84;
    border-left: 2px solid #479c84;
    opacity: 0;
  }

  &:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 2px solid #479c84;
    border-right: 2px solid #479c84;
    opacity: 0;
  }

  &:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;

    &:before,
    &:after {
      width: 100%;
      height: 100%;
      color: #479c84;
      opacity: 1;
      / border-radius: 20px; /
    }
  }

  &:hover a {
    color: #479c84;
  }
}

/* ========contact us page css starts=========== */
.cnt-wrapper-d {
  /* padding: 1rem; */
  text-align: center;
  display:block;
  border-radius: 10px;
  height: 100%;
  margin: 0;
}

.cnt-wrapper-d i {
  font-size: 30px;
  display: block;
  color: #00273d;
  padding: 10px 0;
}

.cnt-wrapper-d strong {
  display: block;
  letter-spacing: 1px;
}

.cnt-wrapper-d a {
  text-decoration: none;
  color: #00273d;
  letter-spacing: 1px;
}

.box-cnt-wrapper {
  padding: 1rem 0;
  margin-bottom: 2rem;
}



.box-cnc-nc {
  background: #499884;
}

.box-cnc-nc i, .box-cnc-nc strong, .box-cnc-nc a {
  color: #fff;
}
.cnt-pg-map.c-map.g-view-contact iframe {
  width: 100%;
  /* height: 100%; */
}
.formfield.formfield-submit.cnct-btn button {
  background: #4d9784;
}

.formfield.formfield-submit.cnct-btn {
  margin: 0;
  text-align: left;
}
section.cnt-page {
  padding-bottom: 2rem;
}
.cnct-form {
  padding-top: 1rem;
}
.moving_level img {
  width: 100%;
  object-fit: cover;
  padding: 2rem 0;
}
section.serv-detail-page {
  padding-bottom: 2rem;
}

/* ============area we serve css starts ============= */
ul.area-details li a {
  color: #222;
  text-decoration: none;
}

.area-box {
  display: flex;
  justify-content: space-between;
  /* padding-top: 1rem; */
}
.area-map iframe {
  width: 100%;
  padding-bottom: 2rem;
}
.area-box-wrap {
  padding-top: 1rem;
}